.main1{
    display:flex;
    gap: 100px;
    align-items: center;
    justify-content: center
    
    
}



.custom-shape-divider-bottom-1733299623 .shape-fill {
    fill: #404041;
}


.picture-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    place-items: center;
    
   
    
  }
  
  .picture-grid img {
    width: 50%;
    height:170px;
    border-radius: 40px 100% 100% 100%;
    
    
  
  }




















@media only screen and (max-width: 768px){
.main1{
              flex-direction: column; /* Stack items vertically */
              
                gap:10px;
                text-align: center;
                justify-content: center;

            
}

#firstsentense{
    font-size:32px;
    white-space: nowrap; 
    
   }

   

   

    .picture-grid {
        display: flex;
        overflow-x: scroll; /* Enables horizontal scrolling */
        gap: 10px;
        scroll-behavior: smooth; /* Smooth scrolling effect */
      }
    
      .picture-grid::-webkit-scrollbar {
        height: 8px; /* Height of the horizontal scrollbar */
      }
    
      .picture-grid::-webkit-scrollbar-thumb {
        background-color: #404041; /* Color of the scrollbar thumb */
        border-radius: 4px;     /* Rounded corners */
      }
    
      .picture-grid::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Color of the scrollbar track */
      }
    
      .picture-grid img {
        flex: 0 0 auto;  /* Prevent shrinking */
        width: 60%;     /* Adjust based on design */
        height: 150px;   /* Example height */
      }
    

}






@media (min-width: 600px) and (max-width: 1024px){
   .main1{
    flex-direction: column; /* Stack items vertically */
    gap:10px;
    text-align: center;
    justify-content: center;
     
   }
   
   #firstsentense{
        font-size:42px;
        white-space:nowrap;
       }

      

       
   }
