.main1{
    display:flex;
    gap: 100px;
    align-items: center;
    justify-content: center
    
    
}


























@media only screen and (max-width: 768px){
.main1{
              flex-direction: column; /* Stack items vertically */
              
                gap:10px;
                text-align: center;
                justify-content: center;
                
                
                
}

#firstsentense{
    font-size:32px;
    white-space: nowrap; 
   }


}






@media (min-width: 600px) and (max-width: 1024px){
   .main1{
    flex-direction: column; /* Stack items vertically */
    gap:10px;
    text-align: center;
    justify-content: center;
     
   }
   
   #firstsentense{
        font-size:42px;
        white-space:nowrap;
       }
   }
